@media screen and (min-width: 360px) and (max-width: 600px) {
  section {
    padding: 0;
    margin: 0;
  }
  .main-content {
    margin: 0;
    padding: 0;
  }
  header {
    height: 100%;
    .header-content {
      width: auto;
      min-width: 360px;
      grid-template-columns: 1fr;
      // padding-bottom: 2rem;
      min-height: 100vh;
      width: auto;
      padding-bottom: 6rem;

      .left-header {
        grid-row: 2;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .h-shape {
          display: none;
        }
        .image {
          margin: 0;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-left: auto;
            margin-right: auto;
            height: 400px;
            filter: grayscale(0%);
          }
        }
      }
      .right-header {
        grid-row: 1;
        padding: 0;
        width: 90%;
        margin: 2rem auto;
        margin-bottom: 2rem;
        padding: 1rem 1rem 0 1rem;
        .btn-con {
          .main-btn {
            margin-left: 2rem;
            // padding: 0 auto;
            // width: 230px;
          }
        }
        .name {
          font-size: 2.5rem;
        }
        p {
          line-height: 2.1rem;
          word-spacing: 0.2rem;
        }
      }
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row; //or initial
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 0.8rem 0.3rem;
    }
  }
  ///////////////////////////sec2
  ///
  ///

  .about-container {
    grid-template-columns: 1fr;
    padding: 0;
    display: block;
    // width: 300px;

    .left-about {
      padding-right: 0;
      margin: 2rem;
      margin-top: 6rem;
      h4 {
        font-size: 1.5rem;
      }
      .btn-con {
        a {
          margin: 0;
        }
      }
    }
    .right-about {
      grid-template-columns: 1fr;
      .about-item {
        width: 90%;
        margin-left: auto;
        border: 1px solid var(--color-secondary);
        margin-right: auto;
      }
    }
  }
  .sec2 {
    margin-top: 4.5rem;
  }
  .timeline-title::before,
  .timeline-title::after {
    width: 25%;
  }
  .timeline {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    margin-left: 2rem;
    .timeline-item {
      width: 86%;
    }
  }
  ////////////////////////////////////
  .portfolio-text {
    padding: 1rem;
    margin-top: 2rem;
    color: var(--color-grey-2);
    line-height: 1.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    margin-bottom: 6rem;
    .portfolio-item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /////////////////////////////////
  ///
  .github {
    .main-title {
      margin-top: 5rem;
      h2 {
        font-weight: 1200;
      }
      .bg-text {
        opacity: 0.5;
      }
    }
  }
  .git-container {
    flex-direction: column;
    margin: 0 1rem;

    .left-gitInfo {
      flex: 1;
    }
    .github-image {
      margin: 2rem 0;
      flex: 2;
      img {
        width: 90%;
        margin-left: 0.8rem;
      }
    }
  }
  .btn-con {
    .main-btn {
      margin-left: 5rem;
    }
  }

  ///////////////////////
  .left-contact {
    padding: 0 2rem;
    p {
      margin-bottom: 3.5rem;
    }
    .contact-info {
      // align-items: flex-start;
      margin-top: 2rem;
      .contact-item {
        font-size: 1rem !important;
        flex-direction: column;

        padding-bottom: 2rem;
        padding-right: 1rem;
        color: var(--color-grey-2);
      }
    }
  }

  .right-contact {
    margin-left: 1rem !important;
    width: 90%;
    padding-bottom: 7rem;
  }
  .contact-content-container .right-contact .i-c-2 {
    margin: 0;
    flex-direction: column;
  }
  .contact-content-container .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1rem;
  }

  .contact-container {
    .main-title {
      margin-top: 2rem !important; // margin-top: 2rem;
      padding-top: 0 !important;
    }
    .contact-content-container {
      flex-direction: column;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1350px) and (max-width: 1600px) {
  .header-content {
    // margin-bottom: 15rem;
    .left-header {
      margin-top: 4rem;
      align-items: baseline;
      .image {
        height: 60%;
        width: auto;
        margin-right: 2rem;
      }
    }
    .right-header {
      margin-top: 4rem;
      justify-content: flex-start;
    }
  }
  /////////////////////////////
  .about {
    padding: 0;
    margin: 1rem 0;
  }
  #about > div.main-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .about-container {
    grid-template-columns: 1fr 1.2fr;
    width: 100%;
    padding-left: 4rem;
    .left-about {
      h4 {
        margin-left: 1rem;
      }
      padding: 0;
      .btn-con {
        margin-top: 1rem;
        margin-left: 1rem;
      }
    }
    .right-about {
      grid-gap: 0;
      padding-right: 2rem;
      margin-right: 1.5rem;

      .about-item {
        width: 90%;
        height: 90%;
      }
    }
    // padding: 0;
    // margin-top: 2rem;
  }
  .timeline-title {
    width: 90%;
  }
  .timeline-title::before,
  .timeline-title::after {
    width: 35%;
    margin-left: 2rem;
  }
  .timeline {
    width: 80%;
    margin-left: 5.5rem;
  }
  //////////////////////////////////////////////
  ///
  #portfolio > div.main-title {
    margin-top: 2rem;
  }
  #portfolio > p {
    width: 75%;
    margin-left: 6.5rem;
  }
  .portfolio {
    padding: 0;
    margin: 0;
  }
  .portfolios {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-bottom: 4rem;
    .portfolio-item {
      width: 95%;
    }
  }
  ///////////////////////////////////////
  #github {
    margin: 0;
    padding: 0;
  }
  #github > div.main-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 800;
    }
  }
  .git-container {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    .left-gitInfo {
      margin: 0 4rem;
      // margin-left: 3rem;
    }
  }
  #github > div.git-container > div.left-gitinfo {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }

  #github > div.git-container > div.left-gitinfo > div {
    justify-content: CENTER;
    align-items: center;
  }

  #github > div.git-container > div.github-image {
    width: 800px;
    margin-left: 20rem;
  }
  ///////////////////////////////////////////////
  .contact {
    padding: 0;
    margin: 2rem 0;
    .contact-container {
      margin-left: 6rem;
      width: 90%;
      .contact-content-container {
        width: 90%;
        .left-contact {
          .contact-info {
            display: flex;
            flex-direction: column;
            .contact-item {
              display: flex;
              flex-direction: column;
              font-size: 1rem;
              align-items: flex-start;
              p {
                color: var(--color-grey-2);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1349px) {
  #home > div > div.left-header > div.image > img {
    width: 350px;
    margin-right: 3rem;

    // height: auto;
  }

  ////////////////////////
  .about {
    padding: 0;
    margin: 1rem 0;
  }
  #about > div.main-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .about-container {
    grid-template-columns: 1fr 1fr;
    // width: 90%;
    padding-left: 1rem;
    margin-right: 1.5rem;
    .left-about {
      margin-left: 1rem;
      h4 {
        padding-right: 2rem;
      }
      padding: 0;
      .btn-con {
        margin-top: 1rem;
        margin-left: 1rem;
      }
    }
    .right-about {
      grid-gap: 0;
      // padding-right: 2rem;
      margin-right: 2.5rem;

      .about-item {
        width: 90%;
        height: 90%;
        .abt-text {
          .small-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .timeline {
    width: 80%;
    margin-left: 4rem;
  }
  //////////////////////////////////
  .portfolio {
    margin: 0;
    padding: 0;
  }
  #portfolio > div.main-title {
    margin-top: 5rem;
  }
  #portfolio > p {
    width: 75%;
    margin-left: 6.5rem;
    margin-top: 7rem;
  }
  .portfolios {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-bottom: 4rem;
    .portfolio-item {
      width: 95%;
    }
  }
  ///////////////////////////////
  #github {
    margin: 0;
    padding: 0;
  }
  #github > div.main-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 800;
    }
  }
  .git-container {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    .left-gitInfo {
      margin: 0 4rem;
      // margin-left: 3rem;
    }
  }
  #github > div.git-container > div.left-gitinfo {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }

  #github > div.git-container > div.left-gitinfo > div {
    justify-content: CENTER;
    align-items: center;
  }

  #github > div.git-container > div.github-image {
    width: 800px;
    margin-left: 20rem;
  }
  //////////////////////
  .contact {
    padding: 0;
    margin: 5rem 0;
    .contact-container {
      margin-left: 5rem;
      width: 90%;
      .contact-content-container {
        margin-top: 4rem;
        width: 90%;
        .left-contact {
          .contact-info {
            display: flex;
            flex-direction: column;
            .contact-item {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              font-size: 1rem;
              padding-top: 1rem;
              p {
                color: var(--color-grey-2);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 720px) {
  section {
    margin-bottom: 8rem;
  }
  .main-content {
    margin: 2rem 4rem;
    padding: 0;
  }
  header {
    .header-content {
      width: auto;
      min-width: 600px;
      grid-template-columns: 1fr;
      // padding-bottom: 2rem;
      min-height: 100vh;
      width: auto;
      padding-bottom: 6rem;
      .right-header {
        grid-row: 1;
        padding: 0 1rem;
        width: 80%;
        margin: 2rem 0;
        margin-bottom: 2rem;
        // padding: 1rem 1rem 0 1rem;
        .btn-con {
          .main-btn {
            margin-left: 2rem;
            // padding: 0 auto;
            // width: 230px;
          }
        }
        .name {
          font-size: 2.5rem;
        }
        p {
          line-height: 2.1rem;
          word-spacing: 0.2rem;
        }
      }

      .left-header {
        grid-row: 2;
        // align-items: center;
        // justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5rem;

        .h-shape {
          display: none;
        }
        .image {
          margin: 0;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-left: 3rem;
            margin-right: auto;
            height: 450px;
            filter: grayscale(0%);
          }
        }
      }
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row; //or initial
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 0.8rem 0.3rem;
    }
  }
  ////////////////////
  .about {
    margin: 0;
    padding: 0;
  }
  .about-container {
    grid-template-columns: 1fr;
    padding: 0;
    // display: block;
    // width: 300px;

    .left-about {
      padding-right: 0;
      margin: 2rem;
      margin-top: 6rem;
      h4 {
        font-size: 1.5rem;
      }
      .btn-con {
        a {
          margin: 0;
        }
      }
    }
    .right-about {
      grid-template-columns: 1fr;
      .about-item {
        width: 90%;
        margin-left: auto;
        border: 1px solid var(--color-secondary);
        margin-right: auto;
      }
    }
  }
  .sec2 {
    margin-top: 4.5rem;
  }
  .timeline-title::before,
  .timeline-title::after {
    width: 25%;
  }
  .timeline {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    margin-left: 2rem;
    .timeline-item {
      width: 86%;
    }
  }
  ///////////////////////////////////////
  ///

  .portfolio {
    margin: 0;
    padding: 0;
    margin-top: 5rem;
  }
  .portfolio-text {
    padding: 1rem;
    margin-top: 4rem;
    color: var(--color-grey-2);
    line-height: 1.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    margin-bottom: 6rem;
    .portfolio-item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /////////////////////
  ///
  .github {
    margin: 0;
    padding: 0 !important;
    .main-title {
      margin-top: 5rem;
      h2 {
        font-weight: 1200;
      }
      .bg-text {
        opacity: 0.5;
      }
    }
  }
  .git-container {
    flex-direction: column;
    margin: 0 1rem;

    .left-gitInfo {
      flex: 1;
    }
    .github-image {
      margin: 2rem 0;
      flex: 2;
      img {
        width: 90%;
        margin-left: 0.8rem;
      }
    }
  }
  .btn-con {
    .main-btn {
      margin-left: 5rem;
    }
  }
  /////////////////////
  .contact {
    margin: 0;
    padding: 0;
  }
  .left-contact {
    padding: 0 2rem;
    p {
      margin-bottom: 3.5rem;
    }
    .contact-info {
      // align-items: flex-start;
      margin-top: 2rem;
      .contact-item {
        font-size: 1rem !important;
        flex-direction: column;

        padding-bottom: 2rem;
        padding-right: 1rem;
        color: var(--color-grey-2);
      }
    }
  }

  .right-contact {
    margin-left: 1rem !important;
    width: 90%;
    padding-bottom: 7rem;
  }
  .contact-content-container .right-contact .i-c-2 {
    margin: 0;
    flex-direction: column;
  }
  .contact-content-container .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1rem;
  }

  .contact-container {
    .main-title {
      margin-top: 6rem !important;
      margin-bottom: 2rem; // margin-top: 2rem;
      padding-top: 0 !important;
    }
    .contact-content-container {
      flex-direction: column;
    }
  }
}

///////////////////////////////////////////////////////
@media screen and (min-width: 721px) and (max-width: 999px) {
  section {
    padding: 0;
    margin: 0;
  }
  header {
    height: 100%;
    .header-content {
      width: auto;
      min-width: 360px;
      grid-template-columns: 1fr;
      // padding-bottom: 2rem;
      min-height: 100vh;
      width: auto;
      // padding-bottom: 6rem;

      .left-header {
        grid-row: 2;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .h-shape {
          display: none;
        }
        .image {
          margin: 0;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-left: auto;
            margin-right: auto;
            height: 600px;
            filter: grayscale(0%);
          }
        }
      }
      .right-header {
        grid-row: 1;
        padding: 0;
        width: 70%;
        margin: 2rem auto;
        // margin-bottom: 2rem;
        padding: 1rem 1rem 0 1rem;
        .btn-con {
          .main-btn {
            margin-left: 2rem;
            // padding: 0 auto;
            // width: 230px;
          }
        }
        .name {
          font-size: 2.5rem;
        }
        p {
          line-height: 2.1rem;
          word-spacing: 0.2rem;
        }
      }
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  /////////////////////////////////////
  .about-container {
    grid-template-columns: 1fr;
    padding: 0;
    display: block;
    // width: 300px;

    .left-about {
      padding-right: 0;
      margin: 2rem;
      margin-top: 6rem;
      margin-left: 3rem;
      margin-right: 3rem;
      h4 {
        font-size: 1.5rem;
        margin-right: 8rem;
      }
      .btn-con {
        a {
          margin: 0;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
    .right-about {
      grid-template-columns: 1fr 1fr;
      margin-left: 2rem;
      margin-right: 2rem;
      grid-gap: 1rem;
      .about-item {
        width: 90%;
        margin-left: auto;
        border: 1px solid var(--color-secondary);
        margin-right: auto;
      }
    }
  }
  .sec2 {
    margin-top: 4.5rem;
  }
  .timeline-title::before,
  .timeline-title::after {
    width: 25%;
  }
  .timeline {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    margin-left: 2rem;
    .timeline-item {
      width: 86%;
    }
  }
  /////////////
  #portfolio > div.main-title {
    margin-top: 5rem;
  }
  #portfolio > p {
    margin-top: 5rem;
    width: 75%;
    margin-left: 4.5rem;
  }
  .portfolio {
    padding: 0;
    margin: 0;
  }
  .portfolio-text {
    padding: 1rem;
    margin-top: 2rem;
    color: var(--color-grey-2);
    line-height: 1.5rem;
  }
  .portfolios {
    // gap: 0;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6rem;
    margin-left: 5rem;
    margin-right: 5rem;
    .portfolio-item {
      width: 90%;
      // margin-left: 2rem;
      // margin-right: 2rem;
    }
  }
  ///////////////////////////////
  #github {
    margin: 0;
    padding: 0;
  }
  #github > div.main-title {
    margin-top: 5rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 800;
    }
  }
  .git-container {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    .left-gitInfo {
      margin: 0 4rem;
      // margin-left: 10rem;
      // margin-left: 3rem;
    }
  }
  #github > div.git-container > div.left-gitinfo {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  #github > div.git-container > div.left-gitinfo > div {
    justify-content: CENTER;
    align-items: center;
  }

  #github > div.git-container > div.github-image {
    width: 800px;
    margin-left: 20rem;
  }
  /////////////////////////
  .contact {
    padding: 0;
    margin: 5rem 0;
    .contact-container {
      margin-left: 5rem;
      width: 90%;
      .contact-content-container {
        margin-top: 2rem;
        width: 90%;
        .left-contact {
          .contact-info {
            display: flex;
            flex-direction: column;
            .contact-item {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              font-size: 1rem;
              padding-top: 1rem;
              p {
                color: var(--color-grey-2);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 914px) and (orientation: landscape) {
  .theme-btn {
    left: 3%;
  }
}
