@media screen and (min-width: 390px) {
  section {
    padding: 0;
    margin: 0;
  }
  .main-content {
    margin: 0;
    padding: 0;
  }
  header {
    height: 100%;
    .header-content {
      width: auto;
      min-width: 360px;
      grid-template-columns: 1fr;
      // padding-bottom: 2rem;
      min-height: 100vh;
      width: auto;
      padding-bottom: 6rem;

      .left-header {
        grid-row: 2;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .h-shape {
          display: none;
        }
        .image {
          margin: 0;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-left: auto;
            margin-right: auto;
            height: 300px;
            filter: grayscale(0%);
          }
        }
      }
      .right-header {
        grid-row: 1;
        padding: 0;
        width: 90%;
        margin: 2rem auto;
        margin-bottom: 2rem;
        padding: 1rem 1rem 0 1rem;
        .btn-con {
          .main-btn {
            margin-left: 2rem;
            // padding: 0 auto;
            // width: 230px;
          }
        }
        p {
          line-height: 2.1rem;
          word-spacing: 0.2rem;
        }
      }
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row; //or initial
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 0.8rem 0.3rem;
    }
  }
  ///////////////////////////sec2
  ///
  ///

  .about-container {
    grid-template-columns: 1fr;
    padding: 0;
    display: block;
    // width: 300px;

    .left-about {
      padding-right: 0;
      margin: 2rem;
      margin-top: 6rem;
      h4 {
        font-size: 1.5rem;
      }
      .btn-con {
        a {
          margin: 0;
        }
      }
    }
    .right-about {
      grid-template-columns: 1fr;
      .about-item {
        width: 90%;
        margin-left: auto;
        border: 1px solid var(--color-secondary);
        margin-right: auto;
      }
    }
  }
  .sec2 {
    margin-top: 4.5rem;
  }
  .timeline-title::before,
  .timeline-title::after {
    width: 25%;
  }
  .timeline {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    margin-left: 2rem;
    .timeline-item {
      width: 86%;
    }
  }
  ////////////////////////////////////
  .portfolio-text {
    padding: 1rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    margin-bottom: 6rem;
    .portfolio-item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /////////////////////////////////
  ///
  .github {
    .main-title {
      margin-top: 5rem;
      h2 {
        font-weight: 1200;
      }
      .bg-text {
        opacity: 0.5;
      }
    }
  }
  .git-container {
    flex-direction: column;
    margin: 0 1rem;

    .left-gitInfo {
      flex: 1;
    }
    .github-image {
      margin: 2rem 0;
      flex: 2;
      img {
        width: 100%;
      }
    }
  }
  .btn-con {
    .main-btn {
      margin-left: 5rem;
    }
  }

  ///////////////////////
  .left-contact {
    padding: 2rem;
  }
  .contact-container {
    margin-top: 2rem;
  }
  .contact-content-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 900pc) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  :root {
    --color-primary: #191d2b;
    // --color-secondary: #2fd173f3;
    --color-secondary: #1a743ff3;

    --color-third: #25a159c1;

    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  }

  .light-mode {
    --color-primary: #ede8e8;
    // --color-secondary: #eb5844ea;
    --color-secondary: #5f95b5fb;

    --color-third: #25a159c1;

    --color-white: #454e56;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    // --color-grey-5: #b1aeae;
    --color-grey-5: #c0bcbc;

    --color-grey-6: #12181b;
  }

  body {
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }

  header {
    // min-height: 100vh;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    //this somehow fixed the media query issue
    font-family: "Poppins", sans-serif;

    color: var(--color-white);
    overflow: hidden; //incase something overflows
    @media screen and (max-width: 610px) {
      min-height: 100vh;
    }
  }

  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem; //top then L+R sides
  }

  .section {
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-primary);
  }

  .sec1 {
    display: none;
    transform: translateY(0) scale(1);
  }

  .sec2 {
    display: none;
    transform: translateY(0) scale(1);
  }
  .sec3 {
    display: none;
    transform: translateY(0) scale(1);
  }

  .sec4 {
    display: none;
    transform: translateY(0) scale(1);
  }
  .sec5 {
    display: none;
    transform: translateY(0) scale(1);
  }

  .active {
    display: block;
    animation: scaleAnim 0.7s ease-in-out;
    @keyframes scaleAnim {
      0% {
        transform: translateY(-100%) scaleY(0);
      }
      100% {
        transform: translateY(0) scaleY(1);
      }
    }
  }

  //controls
  .controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn {
      background-color: var(--color-secondary) !important;
      transition: all 0.4s ease-in-out;
      i {
        color: var(--color-white) !important;
      }
    }
    .control {
      padding: 1rem;
      cursor: pointer;
      background-color: var(--color-grey-4);
      height: 55px;
      width: 55px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; //helps align icons in the border
      margin: 0.7rem 0;
      box-shadow: var(--box-shadow-1);
      i {
        font-size: 1.2rem;
        color: var(--color-grey-2);
        pointer-events: none;
        caret-color: transparent; //this was a lifesaver
      }
    }
  }

  .theme-btn {
    caret-color: transparent;
    top: 5%;
    right: 3%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-grey-4);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    &:active {
      transform: translateY(-3px);
    }
    i {
      font-size: 1.4rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }

  // .theme-btn {
  //   caret-color: transparent;
  //   padding: 1rem;
  //   cursor: pointer;
  //   background-color: var(--color-grey-4);
  //   width: 55px;
  //   height: 55px;
  //   border-radius: 50%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin: 0.7rem 0;
  //   box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  //   i {
  //     font-size: 1.2rem;
  //     color: var(--color-grey-2);
  //     pointer-events: none;
  //   }
  // }
  // HEADER-CONTENT
  .header-content {
    caret-color: transparent; //Maybe del, was to test

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header {
      display: flex;
      align-items: center;
      position: relative;
      .h-shape {
        transition: all 0.4s ease-in-out;
        width: 65%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        clip-path: polygon(0 0, 37% 0, 89% 100%, 0% 100%);
      }
      .image {
        border-radius: var(--br-sm-2);
        // height: 90%;
        // width: 68%;
        height: 65%;
        width: 43%;
        margin-left: 4rem;
        background-color: var(--color-primary);
        transition: all 0.4s ease-in-out;
        img {
          height: 100%;
          width: auto;
          border-radius: var(--br-sm-2);

          object-fit: cover;
          transition: all 0.4s ease-in-out;
          filter: grayscale(100%);
          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }

    .right-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 18rem;
      .name {
        font-size: 3rem;
        span {
          color: var(--color-secondary);
        }
      }
      p {
        margin: 1.5rem 0;
        line-height: 2rem;
      }
    }
  }
  // ABOUT
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      .about-item {
        border: 1px solid var(--color-grey-5);
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
        &:hover {
          cursor: default;
          transform: translateY(-5px);
          border: 1px solid var(--color-secondary);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
        }
        .abt-text {
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          .large-text {
            font-size: 3rem;
            font-weight: 700;
            color: var(--color-secondary);
          }
          .small-text {
            padding-left: 3rem;
            position: relative;
            text-transform: uppercase;
            font-size: 1.2rem;
            color: var(--color-grey-1);
            letter-spacing: 2px;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 15px;
              width: 2rem;
              height: 2px;
              background-color: var(--color-grey-5);
            }
          }
        }
      }
    }

    .left-about {
      padding-right: 5rem;
      p {
        line-height: 2rem;
        padding: 1rem;
        color: var(--color-grey-1);
      }
      h4 {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }

  // INDEPENDENT COMPONENTS
  .btn-con {
    display: flex;
    align-self: flex-start;
  }

  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text {
      padding: 0 2rem;
    }
    .btn-icon {
      background-color: var(--color-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
      z-index: -1;
    }
    &:hover {
      &::before {
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        transform: translateX(0);
      }
    }
  }

  .main-title {
    text-align: center;
    caret-color: transparent; //this was a lifesaver

    h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 700;
      span {
        color: var(--color-secondary);
      }
      .bg-text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--color-grey-5);
        transition: all 0.4s ease-in-out;
        z-index: -1;
        transform: translate(-50%, -50%);
        font-weight: 800;
        font-size: 6.3rem;
      }
    }
  }

  //Timeline
  .timeline-title {
    // display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 40%;
      height: 1px;
      background-color: var(--color-grey-5);
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 40%;
      height: 1px;
      background-color: var(--color-grey-5);
    }
  }

  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;

    .timeline-item {
      position: relative;
      padding-left: 3rem;
      border-left: 1px solid var(--color-grey-5);
      .tl-icon {
        position: absolute;
        left: -27px;
        top: 0;
        background-color: var(--color-secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 1.3rem;
        }
      }
    }
    .tl-duration {
      padding: 0.2rem 0.6rem;
      background-color: var(--color-grey-5);
      border-radius: 15px;
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5 {
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      span {
        color: var(--color-grey-2);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    p {
      color: var(--color-grey-3);
    }
  }

  //Portfolio section 3
  .portfolio-text {
    padding: 2rem 0;
    text-align: center;
  }

  .portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    caret-color: transparent; //this was a lifesaver

    .portfolio-item {
      position: relative;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
        border: 3px solid black;
      }
      .hover-items {
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: all 0.4s ease-in-out;

        h3 {
          font-size: 1.5rem;
          color: var(--color-white);
          margin-bottom: 1.5rem;
        }
        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            background-color: var(--color-primary);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.5rem;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            caret-color: transparent; //this was a lifesaver
            i {
              font-size: 1.5rem;
              color: var(--color-white);
              margin: 0 1rem;
            }
            &:hover {
              background-color: var(--color-white);
              i {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
  }

  .portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
  }
  ///////////////////////////////////////////////////////////////////////
  //Section 4 Github
  .git-container {
    display: flex;
    grid-template-columns: 2fr 4fr;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    // width: 80%;
  }

  .github-image {
    caret-color: transparent; //this was a lifesaver
    border-radius: var(--br-sm-2);
    // height: 90%;
    // width: 68%;
    // height: 65%;
    // width: 43%;
    margin-left: 4rem;
    // background-color: var(--color-black);
    transition: all 0.4s ease-in-out;
    img {
      height: auto;
      width: 550px;
      border-radius: var(--br-sm-2);

      object-fit: cover;
      transition: all 0.4s ease-in-out;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
      }
    }
  }

  .left-gitinfo {
    caret-color: transparent; //this was a lifesaver
    padding-right: 2rem;
    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-2);
    }
    h4 {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 1rem;
      font-size: 2.2rem;
      text-transform: uppercase;
      padding-bottom: 1.4rem;
    }
    .btn-con {
      padding-left: 0.5rem;
      padding-top: 2rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }
  /////////////////////////////////////////////////////
  /// section5 Contact
  .contact-content-container {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
      flex: 2;
      h4 {
        margin-top: 1rem;
        font-size: 2rem;
        text-transform: uppercase;
      }
      p {
        margin: 1rem 0;
        line-height: 2rem;
      }
      .contact-info {
        .contact-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin: 0.3rem 0 !important;
            padding: 0 !important;
          }
          .icon {
            display: grid;
            grid-template-columns: 40px 1fr;
            i {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .right-contact {
      flex: 3;
      margin-left: 3rem;
      .input-control {
        margin: 1.5rem 0;
        input,
        textarea {
          border-radius: 30px;
          font-weight: inherit;
          font-size: inherit;
          font-family: inherit;
          padding: 0.8rem 1.1rem;
          outline: none;
          border: none;
          background-color: var(--color-grey-5);
          width: 100%;
          color: var(--color-white);
          resize: none;
        }
      }
      .i-c-2 {
        display: flex;
        :last-child {
          margin-left: 1.5rem;
        }
      }
      .submit-btn {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  @import "./media";
}
